<select class="form-control" id="color" name="color">
  <option></option>
  <option style="color: rgb(0, 0, 0); background: AliceBlue; font-size: 150%;">
    AliceBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: AntiqueWhite; font-size: 150%;">
    AntiqueWhite
  </option>
  <option style="color: rgb(0, 0, 0); background: Aquamarine; font-size: 150%;">
    Aquamarine
  </option>
  <option style="color: rgb(0, 0, 0); background: Azure; font-size: 150%;">
    Azure
  </option>
  <option style="color: rgb(0, 0, 0); background: Beige; font-size: 150%;">
    Beige
  </option>
  <option style="color: rgb(0, 0, 0); background: Bisque; font-size: 150%;">
    Bisque
  </option>
  <option style="color: rgb(255, 255, 255); background: Black; font-size: 150%;">
    Black
  </option>
  <option style="color: rgb(0, 0, 0); background: BlanchedAlmond; font-size: 150%;">
    BlanchedAlmond
  </option>
  <option style="color: rgb(255, 255, 255); background: Blue; font-size: 150%;">
    Blue
  </option>
  <option style="color: rgb(255, 255, 255); background: BlueViolet; font-size: 150%;">
    BlueViolet
  </option>
  <option style="color: rgb(255, 255, 255); background: Brown; font-size: 150%;">
    Brown
  </option>
  <option style="color: rgb(0, 0, 0); background: BurlyWood; font-size: 150%;">
    BurlyWood
  </option>
  <option style="color: rgb(255, 255, 255); background: CadetBlue; font-size: 150%;">
    CadetBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: Chartreuse; font-size: 150%;">
    Chartreuse
  </option>
  <option style="color: rgb(255, 255, 255); background: Chocolate; font-size: 150%;">
    Chocolate
  </option>
  <option style="color: rgb(255, 255, 255); background: Coral; font-size: 150%;">
    Coral
  </option>
  <option style="color: rgb(255, 255, 255); background: CornflowerBlue; font-size: 150%;">
    CornflowerBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: Cornsilk; font-size: 150%;">
    Cornsilk
  </option>
  <option style="color: rgb(255, 255, 255); background: Crimson; font-size: 150%;">
    Crimson
  </option>
  <option style="color: rgb(0, 0, 0); background: Aqua; font-size: 150%;">
    Aqua
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkBlue; font-size: 150%;">
    DarkBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkCyan; font-size: 150%;">
    DarkCyan
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkGoldenRod; font-size: 150%;">
    DarkGoldenRod
  </option>
  <option style="color: rgb(0, 0, 0); background: DarkGray; font-size: 150%;">
    DarkGray
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkGreen; font-size: 150%;">
    DarkGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkKhaki; font-size: 150%;">
    DarkKhaki
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkMagenta; font-size: 150%;">
    DarkMagenta
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkOliveGreen; font-size: 150%;">
    DarkOliveGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkOrange; font-size: 150%;">
    DarkOrange
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkOrchid; font-size: 150%;">
    DarkOrchid
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkRed; font-size: 150%;">
    DarkRed
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkSalmon; font-size: 150%;">
    DarkSalmon
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkSeaGreen; font-size: 150%;">
    DarkSeaGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkSlateBlue; font-size: 150%;">
    DarkSlateBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkSlateGray; font-size: 150%;">
    DarkSlateGray
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkSlateGrey; font-size: 150%;">
    DarkSlateGrey
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkTurquoise; font-size: 150%;">
    DarkTurquoise
  </option>
  <option style="color: rgb(255, 255, 255); background: DarkViolet; font-size: 150%;">
    DarkViolet
  </option>
  <option style="color: rgb(255, 255, 255); background: DeepPink; font-size: 150%;">
    DeepPink
  </option>
  <option style="color: rgb(255, 255, 255); background: DeepSkyBlue; font-size: 150%;">
    DeepSkyBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: DimGray; font-size: 150%;">
    DimGray
  </option>
  <option style="color: rgb(255, 255, 255); background: DodgerBlue; font-size: 150%;">
    DodgerBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: FireBrick; font-size: 150%;">
    FireBrick
  </option>
  <option style="color: rgb(0, 0, 0); background: FloralWhite; font-size: 150%;">
    FloralWhite
  </option>
  <option style="color: rgb(255, 255, 255); background: ForestGreen; font-size: 150%;">
    ForestGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: Fuchsia; font-size: 150%;">
    Fuchsia
  </option>
  <option style="color: rgb(0, 0, 0); background: Gainsboro; font-size: 150%;">
    Gainsboro
  </option>
  <option style="color: rgb(0, 0, 0); background: GhostWhite; font-size: 150%;">
    GhostWhite
  </option>
  <option style="color: rgb(255, 255, 255); background: Gold; font-size: 150%;">
    Gold
  </option>
  <option style="color: rgb(255, 255, 255); background: GoldenRod; font-size: 150%;">
    GoldenRod
  </option>
  <option style="color: rgb(255, 255, 255); background: Gray; font-size: 150%;">
    Gray
  </option>
  <option style="color: rgb(255, 255, 255); background: Grey; font-size: 150%;">
    Grey
  </option>
  <option style="color: rgb(255, 255, 255); background: Green; font-size: 150%;">
    Green
  </option>
  <option style="color: rgb(0, 0, 0); background: GreenYellow; font-size: 150%;">
    GreenYellow
  </option>
  <option style="color: rgb(0, 0, 0); background: HoneyDew; font-size: 150%;">
    HoneyDew
  </option>
  <option style="color: rgb(255, 255, 255); background: HotPink; font-size: 150%;">
    HotPink
  </option>
  <option style="color: rgb(255, 255, 255); background: IndianRed; font-size: 150%;">
    IndianRed
  </option>
  <option style="color: rgb(255, 255, 255); background: Indigo; font-size: 150%;">
    Indigo
  </option>
  <option style="color: rgb(0, 0, 0); background: Ivory; font-size: 150%;">
    Ivory
  </option>
  <option style="color: rgb(0, 0, 0); background: Khaki; font-size: 150%;">
    Khaki
  </option>
  <option style="color: rgb(0, 0, 0); background: Lavender; font-size: 150%;">
    Lavender
  </option>
  <option style="color: rgb(0, 0, 0); background: LavenderBlush; font-size: 150%;">
    LavenderBlush
  </option>
  <option style="color: rgb(0, 0, 0); background: LawnGreen; font-size: 150%;">
    LawnGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: LemonChiffon; font-size: 150%;">
    LemonChiffon
  </option>
  <option style="color: rgb(0, 0, 0); background: LightBlue; font-size: 150%;">
    LightBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: LightCoral; font-size: 150%;">
    LightCoral
  </option>
  <option style="color: rgb(0, 0, 0); background: LightCyan; font-size: 150%;">
    LightCyan
  </option>
  <option style="color: rgb(0, 0, 0); background: LightGoldenRodYellow; font-size: 150%;">
    LightGoldenRodYellow
  </option>
  <option style="color: rgb(0, 0, 0); background: LightGray; font-size: 150%;">
    LightGray
  </option>
  <option style="color: rgb(0, 0, 0); background: LightGrey; font-size: 150%;">
    LightGrey
  </option>
  <option style="color: rgb(0, 0, 0); background: LightGreen; font-size: 150%;">
    LightGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: LightPink; font-size: 150%;">
    LightPink
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSalmon; font-size: 150%;">
    LightSalmon
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSeaGreen; font-size: 150%;">
    LightSeaGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSkyBlue; font-size: 150%;">
    LightSkyBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSlateGray; font-size: 150%;">
    LightSlateGray
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSlateGrey; font-size: 150%;">
    LightSlateGrey
  </option>
  <option style="color: rgb(0, 0, 0); background: LightSteelBlue; font-size: 150%;">
    LightSteelBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: LightYellow; font-size: 150%;">
    LightYellow
  </option>
  <option style="color: rgb(0, 0, 0); background: Lime; font-size: 150%;">
    Lime
  </option>
  <option style="color: rgb(0, 0, 0); background: LimeGreen; font-size: 150%;">
    LimeGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: Linen; font-size: 150%;">
    Linen
  </option>
  <option style="color: rgb(0, 0, 0); background: Fuchsia; font-size: 150%;">
    Fuchsia
  </option>
  <option style="color: rgb(255, 255, 255); background: Maroon; font-size: 150%;">
    Maroon
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumAquaMarine; font-size: 150%;">
    MediumAquaMarine
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumBlue; font-size: 150%;">
    MediumBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumOrchid; font-size: 150%;">
    MediumOrchid
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumPurple; font-size: 150%;">
    MediumPurple
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumSeaGreen; font-size: 150%;">
    MediumSeaGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumSlateBlue; font-size: 150%;">
    MediumSlateBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumSpringGreen; font-size: 150%;">
    MediumSpringGreen
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumTurquoise; font-size: 150%;">
    MediumTurquoise
  </option>
  <option style="color: rgb(255, 255, 255); background: MediumVioletRed; font-size: 150%;">
    MediumVioletRed
  </option>
  <option style="color: rgb(255, 255, 255); background: MidnightBlue; font-size: 150%;">
    MidnightBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: MintCream; font-size: 150%;">
    MintCream
  </option>
  <option style="color: rgb(0, 0, 0); background: MistyRose; font-size: 150%;">
    MistyRose
  </option>
  <option style="color: rgb(0, 0, 0); background: Moccasin; font-size: 150%;">
    Moccasin
  </option>
  <option style="color: rgb(0, 0, 0); background: NavajoWhite; font-size: 150%;">
    NavajoWhite
  </option>
  <option style="color: rgb(255, 255, 255); background: Navy; font-size: 150%;">
    Navy
  </option>
  <option style="color: rgb(0, 0, 0); background: OldLace; font-size: 150%;">
    OldLace
  </option>
  <option style="color: rgb(255, 255, 255); background: Olive; font-size: 150%;">
    Olive
  </option>
  <option style="color: rgb(255, 255, 255); background: OliveDrab; font-size: 150%;">
    OliveDrab
  </option>
  <option style="color: rgb(255, 255, 255); background: Orange; font-size: 150%;">
    Orange
  </option>
  <option style="color: rgb(255, 255, 255); background: OrangeRed; font-size: 150%;">
    OrangeRed
  </option>
  <option style="color: rgb(255, 255, 255); background: Orchid; font-size: 150%;">
    Orchid
  </option>
  <option style="color: rgb(0, 0, 0); background: PaleGoldenRod; font-size: 150%;">
    PaleGoldenRod
  </option>
  <option style="color: rgb(0, 0, 0); background: PaleGreen; font-size: 150%;">
    PaleGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: PaleTurquoise; font-size: 150%;">
    PaleTurquoise
  </option>
  <option style="color: rgb(0, 0, 0); background: PaleVioletRed; font-size: 150%;">
    PaleVioletRed
  </option>
  <option style="color: rgb(0, 0, 0); background: PapayaWhip; font-size: 150%;">
    PapayaWhip
  </option>
  <option style="color: rgb(0, 0, 0); background: PeachPuff; font-size: 150%;">
    PeachPuff
  </option>
  <option style="color: rgb(0, 0, 0); background: Peru; font-size: 150%;">
    Peru
  </option>
  <option style="color: rgb(0, 0, 0); background: Pink; font-size: 150%;">
    Pink
  </option>
  <option style="color: rgb(0, 0, 0); background: Plum; font-size: 150%;">
    Plum
  </option>
  <option style="color: rgb(0, 0, 0); background: PowderBlue; font-size: 150%;">
    PowderBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: Purple; font-size: 150%;">
    Purple
  </option>
  <option style="color: rgb(255, 255, 255); background: RebeccaPurple; font-size: 150%;">
    RebeccaPurple
  </option>
  <option style="color: rgb(255, 255, 255); background: Red; font-size: 150%;">
    Red
  </option>
  <option style="color: rgb(0, 0, 0); background: RosyBrown; font-size: 150%;">
    RosyBrown
  </option>
  <option style="color: rgb(255, 255, 255); background: RoyalBlue; font-size: 150%;">
    RoyalBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: SaddleBrown; font-size: 150%;">
    SaddleBrown
  </option>
  <option style="color: rgb(0, 0, 0); background: Salmon; font-size: 150%;">
    Salmon
  </option>
  <option style="color: rgb(0, 0, 0); background: SandyBrown; font-size: 150%;">
    SandyBrown
  </option>
  <option style="color: rgb(0, 0, 0); background: SeaGreen; font-size: 150%;">
    SeaGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: SeaShell; font-size: 150%;">
    SeaShell
  </option>
  <option style="color: rgb(255, 255, 255); background: Sienna; font-size: 150%;">
    Sienna
  </option>
  <option style="color: rgb(0, 0, 0); background: Silver; font-size: 150%;">
    Silver
  </option>
  <option style="color: rgb(0, 0, 0); background: SkyBlue; font-size: 150%;">
    SkyBlue
  </option>
  <option style="color: rgb(255, 255, 255); background: SlateBlue; font-size: 150%;">
    SlateBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: SlateGray; font-size: 150%;">
    SlateGray
  </option>
  <option style="color: rgb(0, 0, 0); background: SlateGrey; font-size: 150%;">
    SlateGrey
  </option>
  <option style="color: rgb(0, 0, 0); background: Snow; font-size: 150%;">
    Snow
  </option>
  <option style="color: rgb(0, 0, 0); background: SpringGreen; font-size: 150%;">
    SpringGreen
  </option>
  <option style="color: rgb(0, 0, 0); background: SteelBlue; font-size: 150%;">
    SteelBlue
  </option>
  <option style="color: rgb(0, 0, 0); background: Tan; font-size: 150%;">
    Tan
  </option>
  <option style="color: rgb(255, 255, 255); background: Teal; font-size: 150%;">
    Teal
  </option>
  <option style="color: rgb(0, 0, 0); background: Thistle; font-size: 150%;">
    Thistle
  </option>
  <option style="color: rgb(0, 0, 0); background: Tomato; font-size: 150%;">
    Tomato
  </option>
  <option style="color: rgb(0, 0, 0); background: Turquoise; font-size: 150%;">
    Turquoise
  </option>
  <option style="color: rgb(0, 0, 0); background: Violet; font-size: 150%;">
    Violet
  </option>
  <option style="color: rgb(0, 0, 0); background: Wheat; font-size: 150%;">
    Wheat
  </option>
  <option style="color: rgb(0, 0, 0); background: White; font-size: 150%;">
    White
  </option>
  <option style="color: rgb(0, 0, 0); background: WhiteSmoke; font-size: 150%;">
    WhiteSmoke
  </option>
  <option style="color: rgb(0, 0, 0); background: Yellow; font-size: 150%;">
    Yellow
  </option>
  <option style="color: rgb(0, 0, 0); background: YellowGreen; font-size: 150%;">
    YellowGreen
  </option>
</select>
