<style>
.footer {
  position: fixed;
  bottom: 0px;
  height: 7%;
  width: 100%;
  z-index: 2;  
}
</style>
<footer class="footer">
  <div class="container">
    Fábrica de Software
    <!-- <div class="copy text-center">
      Copyright 2014 <a href='#'>Website</a>
    </div> -->

  </div>
</footer>